<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">
            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">主菜单</li>
                <li class="active"><a class="ajax-link" href="/Student/Home"><i class="icon-home"></i>
                    <span> 主页</span></a></li>
                <li class=""><a class="ajax-link" href="/Student/personInfo"><i class="icon-user"></i><span> 个人信息</span></a>
                </li>
                <li class=""><a class="ajax-link" href="/Student/Announcement"><i
                        class="icon-bullhorn"></i><span> 公告信息</span></a></li>
                <li class=""><a class="ajax-link" href="/Student/ChooseDirection"><i
                        class="icon-edit"></i><span> 选择方向</span></a></li>
                <li class=""><a class="ajax-link" href="/Student/TopicDeclare"><i
                        class="icon-list-alt"></i><span> 题目申报</span></a></li>
                <li class=""><a class="ajax-link" href="/Student/SubmitDocs"><i
                        class="icon-upload-alt"></i><span> 提交文档</span></a></li>
                <li class=""><a class="ajax-link" href="/Student/Group"><i
                        class="icon-group"></i><span> 分组信息</span></a></li>
                <li class=""><a class="ajax-link" href="/Student/ProjectSchedule"><i
                        class="icon-tasks"></i><span> 项目进度</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="col-lg-7 col-sm-10">

    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/Student/Home">Home</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="ystep1"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <hr>
</div>
<div class="col-sm-4 col-md-3 hidden-sm hidden-xs">
    <!-- start -->
    <div class="box-inner">
        <div class="box-header well">
            公告
        </div>
        <div class="box-content">
            <div class='row'>
                <div class='container-fluid'><a href='/Student/Announcement/AnnDetail?ann_id=MzU3'>拟题通知</a><font
                        style='float:right;'>2017-02-27</font></div>
                <div class='container-fluid'><a
                        href='/Student/Announcement/AnnDetail?ann_id=MzU2'>选方向通知</a><font style='float:right;'>2017-02-27</font>
                </div>
            </div>
        </div>
    </div>
</div>